body#select_lists_page
  span
    display: block

  *[data-ur-select-list-component="content"][data-ur-state="enabled"]
    background-color: #336699

body#select_lists_examples_page
  span
    display: block

  *[data-ur-select-list-component="content"][data-ur-state="enabled"]
    background-color: #336699
