<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="{{site.url}}src/uranium-pretty.js"></script>
    <link rel="stylesheet" type='text/css' href='{{site.url}}stylesheets/style_index_yellow.css' />
    <link rel="stylesheet" type='text/css' href='{{site.url}}stylesheets/base.css' />
  </head>
  
  <body id="{{page.name}}_page">
    <div id="menu">
  		<div id="menuwrap">
  			<a href="index.html" class="toplinks" id="selectedlink"><div class="menuselect" id="selected">Main</div></a><!-- menuselect-->
  			<a href="widget_list.html" class="toplinks"><div class="menuselect">Widgets</div></a><!-- menuselect-->
  			<a href="tutorials.html" class="toplinks"><div class="menuselect">Tutorials</div></a><!-- menuselect-->
  			<a href="example_list.html" class="toplinks"><div class="menuselect">Examples</div></a><!-- menuselect-->
  			<a href="who.html" class="toplinks"><div class="menuselect">Who</div></a><!-- menuselect-->
  		</div><!-- menuwrap-->	
  	</div><!-- menu-->
  	<div id="textbody">
    {{content}}
    </div>
    <div id="bottombody">
  		<div class="wrapper" id="bottomwrap">
  				<div id="moovweblogo"></div>
  				Uranium &copy; 2011 | <a href="">About</a> | <a href="">Contact</a>
  		</div><!-- wrapper-->
  	</div><!-- bottombody end-->
  </body>
</html>