<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html>
  <head>
    <title>{{ page.title }}</title>
    <script src="{{site.url}}src/uranium-pretty.js"></script>
    <link rel="stylesheet" type='text/css' href='{{site.url}}stylesheets/style_index_yellow.css' />
    <link rel="stylesheet" type='text/css' href='{{site.url}}stylesheets/base.css' />
  </head>
  
  <body id="{{page.name}}_page">
    <div id="menu">
  		<div id="menuwrap">
  			<a href="{{site.url}}index.html" class="toplinks {{page.home_selected}}"><div class="menuselect">Main</div></a><!-- menuselect-->
  			<a href="{{site.url}}tutorials.html" class="toplinks {{page.tutorials_selected}}"><div class="menuselect">Tutorial</div></a><!-- menuselect-->
  			<a href="{{site.url}}widget_list.html" class="toplinks {{page.widget_selected}}"><div class="menuselect">Widgets</div></a><!-- menuselect-->
  			<a href="{{site.url}}example_list.html" class="toplinks {{page.example_selected}}"><div class="menuselect">Examples</div></a><!-- menuselect-->
  			<a href="{{site.url}}more.html" class="toplinks {{page.more_selected}}"><div class="menuselect">More</div></a><!-- menuselect-->
  		</div><!-- menuwrap-->	
  	</div><!-- menu-->
    {{content}}
    <div id="bottombody">
  		<div class="wrapper" id="bottomwrap">
  				<a href="http://site.moovweb.com/"><div id="moovweblogo"></div></a>
  				Uranium &copy; 2011 | <a href="">About</a> | <a href="">Contact</a>
  		</div><!-- wrapper-->
  	</div><!-- bottombody end-->
  </body>
</html>